<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppDb" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=FurnitureProducts2025Demo;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ApplicationTitle" value="Furniture Products 2025 Demo" />
    <add key="EnableCaptcha" value="false" />
    <add key="BlockDurationSeconds" value="10" />
  </appSettings>
</configuration>
