<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="AppDb" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=BytServiceDemo;Integrated Security=True;TrustServerCertificate=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="FeedbackUrl" value="https://docs.google.com/forms/d/e/1FAIpQLSdhZcExx6LSIXxk0ub55mSu-WIh23WYdGG9HY5EZhLDo7P8eA/viewform?usp=sf_link" />
  </appSettings>
</configuration>
